doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title RTD | Minimalistic tower defense in the browser

    meta(itemprop='name' content='RTD | Minimalistic tower defense in the browser')
    meta(name='description' content='Minimalistic tower defense in the browser')
    meta(name='keywords' content='tower defense, tower defense game, tower defense browser, tower defense browser game, tower defense browser game')

    link(rel='stylesheet', href='styles/styles.less')
    link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap', rel='stylesheet')
  body
    #inert
      canvas#canvas
      .controls
        h1 RTD
        .subtitle Roger´s Tower Defense
        hr
        .info
          table.table5050
            tbody
              tr
                td Wave:
                td
                  span#wave.accent 1
                  |
                  |
                  span#delay
              tr
                td Cash:
                td.accent
                  span#cash 12
                  |  €
        hr
        .towers
          #towers-wrapper
          #towers-stats
        hr
        .help
          p#helptext Left Mouse: place towers, look around
          p#helptext Right Mouse: rotate, exit build
          p#helptext Mousewheel: zoom in/out

      #snackbar
      #game-over
        .description Game Over
        button(onclick='location.reload()') Restart

    script(src='../src/main.ts', type='module')